<!DOCTYPE html>
<html>
  <head>
    <title>DemoOmniauthWithDeviseOnRails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= link_to "Sign in with Slack", user_slack_omniauth_authorize_path %><br />
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %><br />
      
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %><br />

      <img src="<%= current_user.image %>">

      <ul>
        <% current_user.attributes.each do |key, value| %>
          <li>
            <%= key %>
            <%= value %>
          </li>
        <% end %>
      </ul>
    <% end %>
      
     <%= yield %>
  </body>
</html>
